.idea/*
build/
/tests/results.xml
/single_cell_trace_fixed00.csv
/single_cell_trace_fixed00.json
/single_cell_trace_fixed99.csv
/single_cell_trace_fixed99.json
ci_build/
/build_check/
/build_test/
/traces/
/cmake-build-debug/
_codeql_build_dir/
_codeql_detected_source_root
